
.nav
    margin-bottom: 15px

    &__brand__logo
        position: relative
        height: 38px
        top: 10px

    &__sidebar__sticky
        +media-up(md)

            position: sticky
            top: 100px

